<mat-card class="about-me">
  <mat-card-content class="content">
    Experienced Software Developer with <strong>3+</strong> years in full-stack development, specializing in React, Angular, Node.js, TypeScript, JavaScript, Java, Spring Boot, and GraphQL. Skilled in building dynamic SPAs, integrating RESTful and GraphQL APIs, and optimizing performance. Strong collaborator, working closely with UX/UI designers, business teams, and DevOps to ensure seamless development and deployment using Docker, AWS, and CI/CD pipelines. Passionate about learning new technologies and delivering scalable, high-performance applications. Actively participated in code reviews and learning sessions to share knowledge and best practices across the team.
  </mat-card-content>
</mat-card>