@import '../../common/styles/mixins';

.skill-set {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: flex-start;
    padding: 16px;
    width: calc(100% - 32px);
    margin: 16px;
    box-sizing: border-box;
    @include base-elevation();

    @media (max-width: 768px) {
        justify-content: center;
        padding: 16px 8px;
        margin: 12px;
        width: calc(100% - 24px);
    }
}