@import '../../common/styles/mixins';

.education-card {
    @include base-elevation();
    margin: 16px;
    
    .university-logo {
        width: 80px !important;
        height: 80px !important;
        border-radius: 4px !important;
        margin-right: 16px;
        border: 1px solid #eee;
        background-color: white;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        
        &[mat-card-avatar] {
            background-size: contain !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            padding: 12px;
        }
    }

    mat-card-content {
        padding: 16px;
        
        p {
            white-space: pre-line;
            line-height: 1.6;
            margin: 0;
        }
    }

    mat-card-header {
        padding: 16px 16px 0;
        display: flex;
        align-items: center;

        mat-card-subtitle {
            div {
                margin: 4px 0;
                color: rgba(0, 0, 0, 0.7);
                font-size: 14px;
            }
        }
    }
}